/* CSS Document */

*{
    padding: 0%;
    margin: 0%;
    font-size: 12px;
}

body{
	background-image: url("https://fanmingming.com/bing");
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 5px;
	height: 5px;
}

body::-webkit-scrollbar-track{
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb{
	border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(30, 30, 30, 0.5);
}

#container{
    width: 1250px;
    margin: 0 auto;
}

#container #header #banner{
    height: 223px;
}

#container #header #nav{
    height: 33px;
}

#container #header #nav ul{
    line-height: 33px;
    overflow:hidden;
}

#container #header #nav ul li{
    line-height: 33px;
    float: left;
    width: 312.5px;
    text-align: center;
    list-style: none;
    background-image: url(../images/adas_16.gif);
}

#container #header #nav ul li a{
    font-size: 18px;
    color: #FFF;
    text-decoration-line: none;
    font-weight: bold;
}

#container #footer{
	padding-top: 10px;
	text-align: center;
	height: 100px;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
}

#container #footer a img.logo{
	width: 21px;
	height: 21px;
    margin-bottom: -2.5px;
}

.glass{
	background: rgba( 47, 144, 226, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 5px );
	-webkit-backdrop-filter: blur( 5px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#container #footer a{
	font-size: 18px;
    color: #FFF;
    text-decoration-line: none;
}

#container #footer a:hover{
	font-size: 18px;
    color: #FFF;
    border-bottom: 1px solid #fff;
}

.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
  }
  
.hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}
  
.hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}
